This is an actual, working Blade program.


We'll define a sample value here.

[groovy
	import com.rocketnia.blade.*
	
	define( [ "sample-var" ], BladeString.of( "sample-val" ) )
]


In order to do that, we define the "groovy" top-level op. We do that
here, using the existing "blade" top-level op. Note that this is sort
of an unnecessary step, since the "groovy" op isn't much simpler to
than the "blade" op.

What we're demonstrating here is that it doesn't matter what order
these definitions come in.

[blade impl jvm-blade groovy-eval
	import com.rocketnia.blade.*
	import com.rocketnia.blade.declare.*
	
	softAsk( [ "impl", "jvm-blade", "groovy-eval" ] ) { define(
		[ "ext", "blade", "groovy" ], it ) }
]
